<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/static/style.css"></link>
    <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" id="search" placeholder="search..." class="search" v-show="search" v-model="searchText"/>
      <div class="media-overview" v-show="mediaOverview || loading">
        <div class="control-bar">
          <div class="control-items">
            <label class="control-caption">{{ getFileName(mediaOverview) }}</label>
            <label class="control-close" @click="closeMedia">×</label>
          </div>
        </div>
        <div class="spinner" v-show="loading">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <img :src="mediaOverview" v-if="RegExp('.*(jpe?g|png|gif)', 'gi').test(mediaOverview)"
          style="display: none;" v-show="mediaOverview" @click="zoom" />
        <video :src="mediaOverview" style="display: none;" v-show="mediaOverview" autoplay muted loop controls v-else>
          <source :src="mediaOverview" :type="getExtension(mediaOverview)"></soure>
        </video>
      </div>
      <div class="media-container">
        <div v-for="path in paths" v-show="path.includes(searchText)">
          <img :src="path.replace(/#/g, '%23')" v-if="RegExp('.*(jpe?g|png|gif)', 'gi').test(path)"
             @click="!mediaOverview ? mediaOverview = path.replace(/#/g, '%23') : null" :title="path" />
          <video @click="!mediaOverview ? mediaOverview = path : null" :title="path" :autoplay="isAutoplay(path)" muted loop v-else>
            <source :src="thumbnailHygiene(path)" :type="getExtension(path)"></soure>
          </video>
        </div>
      </div>
    </div>
    <script defer src="/static/index.js"></script>
  </body>
</html>
