*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: #2e3035;
  margin: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.media-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 2fr));
  gap: 1em;
  width: calc(100% - 1em);
  z-index: 999;
}

.media-overview .control-bar {
  position: absolute;
  top: 0;
  height: 3em;
  width: 100%;
  background-color: rgba(34, 35, 33, 0.90);
}

.control-bar .control-items {
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3em;
}

.control-bar .control-items:first-child {
  font-weight: 500;
  padding-left: 1em;
}

.control-bar .control-items:last-child {
  font-weight: 500;
  padding-right: 1em;
  cursor: pointer;
}

.search {
  box-sizing: border-box;
  width: 100%;
  padding: 0.6em;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.90);
  color: gray;
  font-size: 28px;
  border-color: transparent;
  border-width: 0;
  appearance: none;
  outline: none;
}

.search:active {
  border-color: transparent;
  border-width: 0;
}

img, video {
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 4px;
}

video:focus {
  outline: none;
}

img:hover, video:hover {
  cursor: pointer;
}

.media-overview {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.96);
  z-index: 1000
}

.media-overview img, .media-overview video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 80%;
  height: 80%;
}

.spinner {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner div {
  margin: 0 0.15em 0 0.15em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  display: inline-block;
  background-color: darkorange;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
